.app-header {
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: $clr7;
  border-radius: 4px;

  .header-wrapper {


    h1 {
      color: $clr6;
    }
  }

  .nav-links-wrapper {
    width: 35%;
    justify-content: space-between;
    font-size: 0.893rem;
  }

  .user-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}