.app-header {
  height: 5vh;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: $clr7;
  border-radius: 4px;

  .header-wrapper {
    h1 {
      color: $clr6;
    }
  }

  .nav-links-wrapper {
    width: 35%;
    justify-content: flex-end;
    font-size: 0.893rem;

    a {
      color: $clr6;
      margin-left: 20px;
      padding: 5px;
      border-radius: 10px;

      &:hover {
        background-color: rgb(167, 222, 167);
      }
    }

    .user-avatar {
      border-radius: 50%;
    }
  }
}