.contact-preview {
    background-color: $clr4;
    margin-top: 10px;
    justify-content: space-around;

    .contact-action {
        height: 100%;
        width: 20%;
        justify-content: space-around;

        button {
            border: none;
            background-color: $clr6;
        }
    }
}