.header {
    background-color: $clr5;
    color: $clr3;
    min-height: 2.5rem;
    width: 100%;

    .header-wrapper {
        width: 100%;
        justify-content: space-between;
    }
}

.btn-header {
    padding: 10px;
    border-right: 1px solid $clr2;

    &:hover {
        background-color: $clr2;
    }
}